<footer class="padding-top-1 padding-bottom-1">

  <div class="grid-x grid-padding-y">
    <div class="small-12 cell text-center">
      <h5><a href="/tickets">{{site.address}}</a></h5>
      <h5><a href="mailto:{{site.email}}">{{site.email}}</a></h5>
    </div>
  </div>
  
  <div class="grid-x">
    <div class="small-12 shrink cell">
      <ul class="menu align-center">
                <li class="show-for-medium"><a href="http://www.57festivals.com" target="_blank"><svg class="icon icon-partners icon-festivals"><use xlink:href="/assets/icons/symbol-defs.svg#icon-festivals"></use></svg></a></li>
        <li><a href="https://www.bristol.gov.uk" target="_blank"><svg class="icon icon-partners icon-bristol-city-council"><use xlink:href="/assets/icons/symbol-defs.svg#icon-bristol-city-council"></use></svg></a></li>
              <li><a href="http://www.bristol247.com" target="_blank"><svg class="icon icon-partners icon-b24"><use xlink:href="/assets/icons/symbol-defs.svg#icon-b24"></use></svg></a></li>
        <li><a href="https://www.ents24.com" target="_blank"><svg class="icon icon-partners icon-ents-24"><use xlink:href="/assets/icons/symbol-defs.svg#icon-ents-24"></use></svg></a></li>
        <li><a href="http://www.seetickets.com" target="_blank"><svg class="icon icon-partners icon-see-tickets"><use xlink:href="/assets/icons/symbol-defs.svg#icon-see-tickets"></use></svg></a></li>
      </ul>
    </div>
  </div>
  
  <div class="grid-x grid-padding-x align-center">
    <div class="small-12 medium-7 large-5 cell">
      <form action="//bristolcomedygarden.us8.list-manage.com/subscribe/post?u=4f6c24b1fd6a641ead690d017&amp;id=da73c043ee" method="post" target="_blank" novalidate="">
      
      <div class="input-group">
        <input class="input-group-field" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Subscribe to our newsletter">
        
        <div class="input-group-button">
        <input type="submit" class="button hollow secondary" value="Submit">
        </div>
      </div>
      
      </form>
    </div>
  </div>
  
  <div class="grid-x">
    <div class="small-12 cell">
      <ul class="menu align-center">
        <li><a href="{{site.social.facebook}}" target="_blank"><svg class="icon icon-socials icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        <li><a href="{{site.social.instagram}}" target="_blank"><svg class="icon icon-socials icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        <li><a href="{{site.social.twitter}}" target="_blank"><svg class="icon icon-socials icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      </ul>
    </div>
  </div>
  
  <div class="grid-x grid-padding-y grid-padding-x align-center">
    <div class="small-12 cell text-center">
      <ul class="menu align-center">
      <li><a href="/privacy-policy"><small>© {{'now' | date: "%Y"}} {{site.company}} – Subject to Site Permission and License Approval. Images © their respective owners.</small></a></li>
      <li><a href="/privacy-policy"><small>Privacy Policy</small></a></li>
      <li><a href="/terms-and-conditions"><small>Terms and Conditions</small></a></li>
      </ul>
    </div>
  </div>

</footer>