<footer>

  <div class="row">
    <div class="small-12 columns text-center">
      <div class="footer__icon"><svg class="icon icon-footer-stacked"><use xlink:href="/assets/icons/symbol-defs.svg#icon-footer-stacked"></use></svg></div>
      <a href="/tickets">{{site.date-text}} — {{site.address}}</a></br>
      <a href="mailto:{{site.email}}">{{site.email}}</a></br>
    </div>
  </div>
  
  <div class="row align-center footer__partners">
    <div class="shrink columns">
      <ul class="menu">
                <li><a href="http://www.57festivals.com" target="_blank"><svg class="icon icon-festivals"><use xlink:href="/assets/icons/symbol-defs.svg#icon-festivals"></use></svg></a></li>
        <li><a href="https://www.bristol.gov.uk" target="_blank"><svg class="icon icon-bristol-city-council"><use xlink:href="/assets/icons/symbol-defs.svg#icon-bristol-city-council"></use></svg></a></li>
              <li><a href="http://www.bristol247.com" target="_blank"><svg class="icon icon-b24"><use xlink:href="/assets/icons/symbol-defs.svg#icon-b24"></use></svg></a></li>
        <li><a href="https://www.ents24.com" target="_blank"><svg class="icon icon-ents-24"><use xlink:href="/assets/icons/symbol-defs.svg#icon-ents-24"></use></svg></a></li>
        <li><a href="http://www.seetickets.com" target="_blank"><svg class="icon icon-see-tickets"><use xlink:href="/assets/icons/symbol-defs.svg#icon-see-tickets"></use></svg></a></li>
      </ul>
    </div>
  </div>
  
  <div class="row align-center footer__form">
    <div class="small-12 medium-6 columns">
      <form action="//bristolcomedygarden.us8.list-manage.com/subscribe/post?u=4f6c24b1fd6a641ead690d017&id=e6f2914b7c" method="post" target="_blank" novalidate="">
      
      <div class="input-group">
        <input class="input-group-field" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Subscribe to our newsletter">
        
        <div class="input-group-button align-stretch">
        <input type="submit" class="button align-stretch" value="Submit">
        </div>
      </div>
      
      </form>
    </div>
  </div>
  
  <div class="row align-center footer__socials">
    <div class="shrink columns">
      <ul class="menu footer__link">
        <li><a href="{{site.social.facebook}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        <li><a href="{{site.social.instagram}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        <li><a href="{{site.social.twitter}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      </ul>
    </div>
  </div>
  
  <div class="row show-for-medium">
    <div class="columns text-center footer__credit">
      <a href="http://garethjohnsdesign.com/" target="_blank">Design and Development — Gareth Johns</a><br>
      <a href="http://simonenoronha.com" target="_blank">Illustrations — Simone Noronha</a>
    </div>
  </div>
  
  <div class="row align-center">
    <div class="columns text-center footer__credit">
      <small>© {{'now' | date: "%Y"}} {{site.company}} – Subject to Site Permission and License Approval. Images © their respective owners.</small>
    </div>
  </div>

</footer>