@font-face {
  font-family: 'Raisonne-DemiBold';
  src: url('../fonts/Raisonne-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raisonne-DemiBold.woff') format('woff'), url('../fonts/Raisonne-DemiBold.ttf')  format('truetype'), url('../fonts/Raisonne-DemiBold.svg#Raisonne-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit.eot?#iefix') format('embedded-opentype'), url('../fonts/Larsseit.woff') format('woff'), url('../fonts/Larsseit.ttf')  format('truetype'), url('../fonts/Larsseit.svg#Larsseit') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wigrum-Medium';
  src: url('../fonts/Wigrum-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Wigrum-Medium.woff') format('woff'), url('../fonts/Wigrum-Medium.ttf')  format('truetype'), url('../fonts/Wigrum-Medium.svg#Wigrum-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: url('../fonts/Gallery.eot?#iefix') format('embedded-opentype'), url('../fonts/Gallery.woff') format('woff'), url('../fonts/Gallery.ttf')  format('truetype'), url('../fonts/Gallery.svg#Gallery') format('svg');
  font-weight: normal;
  font-style: normal;
}