@font-face {
  font-family: 'Apercu';
  src: 
  url('../fonts/apercu-regular.woff2') format('woff2'), 
  url('../fonts/apercu-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raisonne';
  src: 
  url('../fonts/raisonne-demibold.woff2') format('woff2'), 
  url('../fonts/raisonne-demibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: url('../fonts/Gallery.eot?#iefix') format('embedded-opentype'), url('../fonts/Gallery.woff') format('woff'), url('../fonts/Gallery.ttf')  format('truetype'), url('../fonts/Gallery.svg#Gallery') format('svg');
  font-weight: normal;
  font-style: normal;
}