@font-face {
  font-family: 'Demibold';
  src: 
  url('../fonts/demibold-pro.woff2') format('woff2'), 
  url('../fonts/demibold-pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: 
  url('../fonts/regular-pro.woff2') format('woff2'), 
  url('../fonts/regular-pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Light';
  src: 
  url('../fonts/light-pro.woff2') format('woff2'), 
  url('../fonts/light-pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marr Sans';
  src: 
  url('../fonts/marrsans-regular.woff2') format('woff2'), 
  url('../fonts/marrsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}