// Icons

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-socials {
  font-size: 1.25rem;
}

.icon-partners {
  font-size: 3rem;
}

.icon-arrow {
  font-size: 3rem;
  vertical-align: middle;
}

.icon-widgets {
  font-size: 3rem;
}

.icon-menu {
  font-size: 2.5rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.icon-info {
  font-size: 2.5rem;
}