.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-socials {
  font-size: 1.5rem;
}

.icon-sponsors {
  font-size: 3rem;
}

.icon-arrow {
  font-size: 3rem;
  vertical-align: middle;
}

.icon-widgets {
  font-size: 3rem;
}

.icon-menu {
  font-size: 2.5rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.icon-info {
  font-size: 2.5rem;
}

.icon-bristol-festivals {
  width: 4.0009765625em;
font-size: 2rem;
}

.icon-sort {
  font-size: 2.5rem;
}

.icon-inline-logo {
  width: 9.4658203125em;
  font-size: 2rem;
}

.icon-logo {
  width: 1.306640625em;
  font-size: 4.5rem;
}