// Icons

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-logo {
	font-size: 3rem; // works because "width" & "height" were set using em units
}

.icon-icon {
	font-size: 2rem; // works because "width" & "height" were set using em units
}

.icon-icon-rev {
	font-size: 2rem; // works because "width" & "height" were set using em units
}

.icon-footer {
  width: 4.63671875em;
}

.icon-footer {
  font-size: 4rem;
}

.icon-footer-stacked {
  font-size: 8rem;
  @include breakpoint(small only) {
  font-size: 6rem;
  }
}