//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. Navigation
//   4. Excerpt
//   5. Index
//   6. Location
//   7. Event
//   8. Footer

// 1. Global
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

svg {
  max-width: 100%;
}

:focus {
  outline: 0;
}


.accordion {
  margin-bottom: 0;
}

// 2. Typography
// -------------

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 3. Navigation
// -------------

.top-bar {
  border-bottom: solid 2px get-color(tertiary-background);
}

.top-bar__logo { 
  letter-spacing: -1px;
  margin-bottom: 0;
}

.top-bar__date { 
@include links($dark-gray, $black);
}

.top-bar__socials {
@include links($dark-gray, $black);
}


// 4. Excerpt
// ----------

.excerpt {
  background-color: get-color(tertiary-background);
  position:relative;
    &:hover .excerpt__image img {
    filter: grayscale(1) contrast(2.5);
    opacity: 0.2;
    } 
}

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0rem;
  color: $white;
  z-index: 1;
}

// 5. Index
// --------

.index {
  background: url(/assets/img/plants-01.png), url(/assets/img/octopus.png);
  background-repeat:no-repeat;
  background-position:left bottom, right bottom;
  background-size: 50%, 40%;
  @include breakpoint(small) {
  padding-bottom: 20vh;
  }
  @include breakpoint(medium) {
  padding-bottom: 60vh;
  }
}

.index__gallery {
  height: 80vh;
}

.index__gallery__image {
  width: 100%;
  height: 100%;
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  }
}

.index__gallery-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
  
.index__gallery__text {
	height: 100%;
}

.index__gallery__text__inner {
  @include links($white, $primary-color);
}

.act-name {
  text-stroke: red;
}


// 6. Location
// ------------


.location {
  background: url(/assets/img/plants-01.png), url(/assets/img/horse.png);
  background-repeat:no-repeat;
  background-position:left bottom, right bottom;
  background-size: 50%, 30%;
  @include breakpoint(small) {
  padding-bottom: 20vh;
  }
  @include breakpoint(medium) {
  padding-bottom: 50vh;
  }
}

.location__map {
  @include breakpoint(small) {
  height: 70vh;
  }
  @include breakpoint(medium) { 
  height: 50vh;
  }
}

// 7. Event
// ---------

.event__title span {
  color: $white;
}

.info {
  background:  url(/assets/img/plants-01.png);
  background-repeat:no-repeat;
  background-position: right top;
  background-size: contain;
}

.event {
  @include breakpoint(small) {
  background: none;
  }
  @include breakpoint(medium) {
  background: url(/assets/img/octopus-and-lobster.png), url(/assets/img/plants-02.png);
  background-repeat:no-repeat;
  background-position:left top, right top;
  background-size: 25%, 40%;
  }
}

.about {
  background:  url(/assets/img/plants-01.png);
  background-repeat:no-repeat;
  background-position: right bottom;
  background-size: contain;
}


.tickets {
  @include breakpoint(small) {
  background: none;
/*
  padding-top: 20vh;
  padding-bottom: 20vh;
*/
  }
  @include breakpoint(medium) {
  background: url(/assets/img/octopus-and-lobster.png), url(/assets/img/plants-02.png);
  background-repeat:no-repeat;
  background-position:left top, right top;
  background-size: 25%, 40%;
  padding-top: 0vh;
  padding-bottom: 60vh;
  }
}


// 8. Footer
// ----------

footer {
  color: $primary-color;
  @include links($primary-color, $white);
  background-color: get-color(secondary-background);
}