//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Sections
//   6. Excerpt
//   7. Page
//   8. Contact

// 1. Global
// ---------

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-family: $body-font-family;
}

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


::selection {
  background: $color--black;
  color: $color--white;
}

a {
  transition: $primary-transition;
}


// 2. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

@mixin header-tight {
  margin-bottom: 0rem;
}

// 3. 404
// ------

.missing {
  margin-top: 3rem;
  margin-bottom: 3rem;
    a {
      color: $color--dark-gray;
    }
    a:hover {
      color: $color--black;
    }
}

// 4. Navigation
// -------------

.top-bar a { 
  color: $color--white;
  &:hover {
      color: $color--trinidad;
    }
}

.top-bar__logo { 
 font-size: 1.5rem;
 font-family: $secondary-font-family;
 @include breakpoint(small only) {
  font-size: 1.1rem;
  }
 @include breakpoint(medium only) {
  font-size: 1.25rem;
  }
}

.top-bar__date { 
  padding-top: 4px;
  a {
  color: $color--gray;
  }
}

.top-bar__socials a {
  color: $color--gray;
  @include transition(color .35s ease-out);
  &:hover,
  &:focus {
    color: $color--white;
    }
}

.top-bar-right {
  z-index: 2000;
}



// 6. Excerpt
// ----------

.excerpt {
  position:relative;
  opacity:1;
  margin: 0.5rem;
  transition: $primary-transition;
    @include breakpoint(medium only) {
      margin: 0.75rem;
    }
    @include breakpoint(small only) {
      margin: 0.25rem;
    }
    img {
      width:100%;
    }
    &:hover .excerpt__image:after {
      background:$color--dark-blue;
      transition: $primary-transition;
      opacity:0.8;
      @include breakpoint(small only) {
      opacity:0.1;
      }
    }
    &:hover .excerpt__title p {
      opacity: 1;
      color: $color--white;
    }
    &:hover .excerpt__image img {
    filter: grayscale(1);
    @include breakpoint(small only) {
      filter: grayscale(0);
      }
    } 
}

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0rem;
    p {
      font-family: $header-font-family;
      font-size: 1.25rem;
      opacity: 1;
      color: $color--white;
      transition: $primary-transition;
      margin: 0rem;
      z-index: 1000;
    }
}

div.row.excerpt__title {
  margin: 0rem;
  z-index: 5;
}

.excerpt__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:$color--black;
  transition: $primary-transition;
  opacity:0.1;
}

.excerpt__image:after p {
  z-index: 10000;
}


// 5. Index
// --------

.index {
  background: url(/uploads/bottom-artwork.png);
  background-repeat:no-repeat;
  background-position:center bottom;
  background-size:contain;
  @include breakpoint(small) {
  padding-bottom: 10rem;
  }
  @include breakpoint(medium) { 
  padding-bottom: 15rem;
  }
}

.index__gallery {
  height: 60vh;
  z-index: 1;
  @include breakpoint(small) {
  height: calc(100vh - 120px);
  }
  // Only affects medium screens, not small or large
  @include breakpoint(medium) { 
  height: 70vh;
  }
}

.index__gallery-cell {
  width: 100%;
  height: 100%;
  /* inherit height from gallery */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 1; }
  
.index__gallery__text {
	height: 100%;
}


.index__gallery__text__inner a {
	color: $color--white;
	&:hover {
      color: $color--trinidad;
    }
}

.index__gallery__text__inner h1 a {
  padding-bottom: 0.1rem;
	border-bottom: 2px solid $color--white;
}

.index__lineuplink {
  padding-top: 2rem;
  padding-bottom: 2rem;
  span {
  color: $color--gray;
  transition: $primary-transition;
  	&:hover {
      color: $color--trinidad;
    }
  }
}


// 11. Location
// ------------


.location {
  background-image: url(/uploads/top-artwork-v4.png);
  background-repeat:no-repeat;
  background-position:center top;
  background-size:contain;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include breakpoint(small only) {
    padding-top: 2rem;
  }
}

.location__map {
  margin-bottom: 2rem;
  @include breakpoint(small) {
  height: 20rem;
  }
  @include breakpoint(medium) { 
  height: 30rem;
  }
}

// 11. Event
// ---------

.event {
  background-image: url(/uploads/top-artwork-v4.png),url(/uploads/bottom-artwork-v4.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
  padding-top: 2rem;
  padding-bottom: 10rem;
  @include breakpoint(small only) {
    padding-top: 2rem;
  }
}

.event__title {
  padding-bottom: 1rem;
  color: $color--black;
}

.event__title span {
  color: $color--gray;
}

.event__acts {
  padding-bottom: 2rem;
}

.event__text {
  padding-bottom: 2rem;
}

.event__text h5 {
  margin-bottom: 0.5rem;
}

.event__details {
  @include breakpoint(small only) {
    padding-top: 2rem;
  }
}

.event .excerpt {
    &:hover .excerpt__image:after {
      background:$color--dark-blue;
      transition: $primary-transition;
      opacity:0.1;
    }
    &:hover .excerpt__image img {
    filter: grayscale(0);
    } 
}



// 11. Tickets
// -----------

.tickets {
  min-height: 50rem;
  background-image: url(/uploads/top-artwork.png),url(/uploads/bottom-artwork.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.tickets h2 {
  color: $color--gray;
}

.tickets h3 {
  margin-bottom: 0.25rem;
}

.tickets h5 {
  margin-bottom: 0rem;
}

.tickets .callout h5 {
  margin-bottom: 1rem;
}

.tickets__time {
  margin-bottom: 1rem;
}

.tickets__button {
  background-color: red;
}

.tickets span {
  font-family: $body-font-family;
  padding-left: 0.5rem;
}

.tickets__acts {
  @include breakpoint(small only) {
    padding: 2rem 0rem;
  }
}

// 11. About
// --------

.about {
  background-image: url(/uploads/top-artwork-v2.png);
  background-repeat:no-repeat;
  background-position:center top;
  background-size:contain;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about .callout {
  margin-bottom: 0rem;
}

.about p {
  font-size: 1.25rem;
  @include breakpoint(small only) {
  font-size: 1rem;
  }
}

.about__images {
  padding-top: 2rem;
}

.about__images img {
  opacity: 1;
  transition: $primary-transition;
}

.about__images:hover img {
  opacity: 0.8;
}


// 11. Line-up
// --------

.line-up {
  min-height: 50rem;
  background-image: url(/uploads/top-artwork-v3.png),url(/uploads/bottom-artwork.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
  padding-top: 5rem;
  padding-bottom: 10rem;
    @include breakpoint(small only) {
    padding-top: 2rem;
  }
}

// 11. Info
// --------

.info {
  background-image: url(/uploads/top-artwork.png),url(/uploads/bottom-artwork-v3.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
  padding-top: 5rem;
  padding-bottom: 10rem;
  @include breakpoint(small only) {
    padding-top: 2rem;
  }
}

// 11. Pagination
// --------

.pagination .icon {
  vertical-align: middle;
  font-size: 2rem;
  color: $color--gray;
}

// 11. Footer
// ----------


footer {
  color: $color--white;
  background-color: $color--dark-blue;
  @include breakpoint(small) {
  padding: 2rem 0rem;
  }
  @include breakpoint(medium) { 
  padding: 3rem 0rem;
  }
}

footer a {
    color: $color--white;
    &:hover,
    &:focus {
      color: $color--trinidad;
    }
}

.footer__link a {
    color: $color--trinidad;
    &:hover,
    &:focus {
      color: $color--white;
    }
}

.footer__socials {
    padding: 0rem 0rem 2rem 0rem;
}


.footer__form {
    padding: 2rem 0rem 0rem 0rem;
}

.footer__form .button {
	@include button-style($color--white, $color--dark-blue, auto);
	&:hover,
    &:focus {
      color: $color--white;
    }
}

.footer__partners .icon {
  font-size: 3rem;
}

// 12. Holding
// ----------

.holding {
  h1 {
    font-family: $secondary-font-family;
    text-transform: uppercase;
  }
  color: white;
  background: $color--dark-blue;
}

.container {
  height: 100vh;
}
