<div class="grid-x grid-padding-x align-center padding-top-2">
  <div class="small-12 cell text-center">
  <h3 class="text-lowercase">Sign Up</h3>
  Register for exclusive access to {{site..title}} tickets, line-up news & festival updates
  </div>
</div>

<div class="grid-x grid-padding-x align-center">
  <div class="small-12 medium-7 large-5 cell padding-top-2">
    <form action="{{site.subscribe}}" method="post" target="_blank" data-abide novalidate>
     
      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i>There are some errors in your form.</p>
      </div> 

      <div class="input-group">
        <input class="input-group-field" type="email" name="EMAIL" placeholder="Subscribe to our newsletter">
        <div class="input-group-button">
        <input type="submit" class="button hollow" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="grid-x grid-padding-x align-center">
  <div class="small-12 cell text-center">
    <small>No spam ever. Unsubscribe with one click any time.</small>
  </div>
</div>
