<div class="grid-container">
  <div class="grid-x grid-padding-y">
  
    <div class="small-4 cell">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">
          <div class="align-middle">
            <svg class="icon icon-arrow icon-arrow_back"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_back"></use></svg>
          </div>
        </a>
      {% endif %}
    </div>
    
    <div class="small-4 cell align-middle">
        <a href="/line-up/#all">
          <div class="align-middle text-center">
            <svg class="icon icon-widgets"><use xlink:href="/assets/icons/symbol-defs.svg#icon-widgets"></use></svg>
          </div>
        </a>
    </div>
    
    
    <div class="small-4 cell text-right">
      {% if page.next.url %}
      <a href="{{page.next.url}}">
        <div class="align-middle">
            <svg class="icon icon-arrow icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg>
        </div>
      </a>
      {% endif %}
    </div>
  
  </div>
</div>