---
layout: default
---

<section class="about">
  <div class="row align-center">
    <div class="small-11 medium-10 large-8 columns callout large">	
    		{{content}}
    
      <div class="row small-up-1 medium-up-2 large-up-3 xlarge-up-3" id="gallery">
        {% for image in page.images %}
        <div class="columns about__images" data-src="{{image}}">
          <a href="{{image}}"><img src="{{image }}" class="excerpt__image"></a>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>