---
layout: default
---

<!-- Headliners - Desktop -->
<div class="swiper-container show-for-large">

  <div class="swiper-wrapper">
    {% for act in page.carousel %}
    {% assign image = act.image %}
    <div class="swiper-slide small-12 cell text-center">
      <div class="image--panorama align-center-middle" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
        
        <div class="grid-y height-100 align-center content">
          <div class="shrink cell text-center">
          <a href="/line-up/{{act.line-up | slugify}}" class="white">
            <h1 class="text-lowercase">{{act.name}}</h3>
            <h5>{{act.subheader}}</h5>
            {% if day.is-sold-out == true %}
            <p>Sold Out</p>
            {% endif %}
          </a>
          </div>
        </div>
  
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="swiper-button-prev-test flex-container align-middle primary-color margin-left-1"></div>
  <div class="swiper-button-next-test flex-container align-middle align-right primary-color margin-right-1"></div>


</div>
<!-- End Headliners - Desktop -->

<!-- Headliners - Mobile -->
<div class="grid-x small-up-1 medium-up-2 xlarge-up-4 xlarge-up-4 hide-for-large">
  {% for act in page.carousel %}
  <div class="cell acts">
    <a href="/line-up/{{act.line-up | slugify}}"> 
      {% assign image = act.image %}
      {% include blocks/excerpt--act.html %}    
    </a>
  </div>
  {% endfor %}
</div>
<!-- End Headliners - Mobile -->

<!-- Description -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center padding-vertical-3">
      <h3 class="text-lowercase">{{site.description}}
    </div>
  </div>
</div>
<!-- End Description -->


<!-- Featured -->
<div class="grid-x small-up-1 medium-up-2 xlarge-up-4">
  {% for act in page.featured %}
  <div class="cell acts">
    <a href="/line-up/{{act.line-up | slugify}}"> 
      {% assign image = act.image %}
      {% include blocks/excerpt--act.html %}    
    </a>
  </div>
  {% endfor %}
</div>
<!-- End Featured -->

<!-- Line-up Link -->
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 cell text-center padding-vertical-3">
    <a href="/line-up/" class="h3 text-lowercase underline">View Full Line-up</a>
  </div>
</div>
<!-- End Line-up Link -->
