---
layout: default
---

      <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
        <div class="small-12 cell text-center">
          <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell text-center">
          <h4>{{site.event-address}}</h4>
        </div>
      </div>
      
      <div class="grid-x">
        <div class="cell text-center">
          <h4>{{site.event-span}}</h4>
        </div>
      </div>
      
      
      <div class="grid-x align-center">
        <div class="small-11 medium-5 large-4 xlarge-4 xxlarge-3 cell text-center">
          <p>Tickets on Sale April</p>
          <form action="//bristolcomedygarden.us8.list-manage.com/subscribe/post?u=4f6c24b1fd6a641ead690d017&amp;id=da73c043ee" method="post" target="_blank" data-abide novalidate>
           
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i>There are some errors in your form.</p>
            </div> 

            <div class="input-group">
              <input class="input-group-field" type="email" name="EMAIL" placeholder="Subscribe to our newsletter">
              <div class="input-group-button">
              <input type="submit" class="button hollow" value="Submit">
              </div>
            </div>
          </form>
          <a data-open="poster">View 2018 Lineup</a>
        </div>
      </div>
      
      <div class="grid-x align-center">
        <div class="shrink cell">
          {% if site.social %}
            <ul class="menu">
              {% for item in site.social %}  
              <li><a href="{{ item[1] }}" target="_blank" rel="noopener"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
              {% endfor %} 
            </ul>
          {% else %}
            <ul class="menu">
              <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
      
      
      <div class="small reveal" id="exampleModal1" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <img src="/uploads/poster-2017.jpg" alt="2017-poster">
        <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    <div class="grid-x grid-padding-y grid-padding-x align-center">
      <div class="small-12 cell text-center">
        <ul class="menu align-center">
        <li><a href="/privacy-policy"><small>© {{'now' | date: "%Y"}} {{site.company}} – Subject to Site Permission and License Approval</small></a></li>
        <li><a href="/privacy-policy"><small>Privacy Policy</small></a></li>
        <li><a href="/terms-and-conditions"><small>Terms and Conditions</small></a></li>
        </ul>
      </div>
    </div>