---
layout: default
---

<section class="tickets">
  {% assign collection = site.line-up | group_by_exp: "item", "item.date | date: '%A %-d %B'" %}
  {% for day in collection %}
  
  <!-- Day -->
  <div class="row align-center">
  <div class="shrink columns">
    <h2>{{ day.name }}</h2>
  </div>
  </div>
  <!-- End Day -->
  
  
  {% assign sorted = day.items | sort: 'date' %}
  {% for day in sorted %}
  
  <!-- Time -->
  <div class="row align-center tickets__time">
    <div class="shrink columns">
      <h5>{{ day.date | date: "%l:%M%p" }}</h5>
    </div>
  </div>
  <!-- End Time -->
  
  <!-- Panel -->
  <div class="row">
    <div class="columns">
    
      <div class="callout row collapse text-center">

          
          <div class="small-12 medium-3 columns align-self-middle">
            {% for act in day.acts limit:1 %}
            <img src="{{act.image}}" alt="{{act.title}}">
            {% endfor %}
          </div>
          
          <div class="small-12 medium-3 columns align-self-middle tickets__acts">
            {% for act in day.acts %}
              <h3>{{ act.name }}</h3>
            {% endfor %}
          </div>
          
          <div class="show-for-medium small-12 medium-4 columns align-self-middle">
            <h5>Festival Opens<span>{{ day.festival-starts-at | date: "%l:%M%p" }}</span></h5>
            <h5>Show Starts<span>{{ day.show-starts-at | date: "%l:%M%p" }}</span></h5>
            <h5>Tickets<span>{{ day.ticket-price }}</span></h5>
          </div>
          
          <div class="small-12 medium-2 columns align-self-middle">
            <a class="button large hollow" href="{{day.ticket-link}}" target="_blank">Buy Tickets</a>
          </div>
          

      </div>
    
    </div>
  </div>
  <!-- End Panel -->
  {%endfor%}
  {%endfor%}
</section>